name: Build PDF
on:
  push:
    branch:
      - master
jobs:
  pdf:
    name: Build PDF
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: TexLive Cache
        id: cache
        uses: actions/cache@v1
        with:
          path: /tmp/texlive
          key: cache-texlive
      - name: Install & Update TexLive
        shell: bash -l {0}
        run: |
          bash scripts/install_latex.sh
          echo 'export PATH=/tmp/texlive/bin/x86_64-linux:$PATH' >> ~/.bash_profile
          source ~/.bash_profile
          ls /tmp/texlive/
      - name: Setup Anaconda
        uses: goanpeca/setup-miniconda@v1
        with:
          auto-update-conda: true
          auto-activate-base: true
          miniconda-version: 'latest'
          python-version: 3.7
          environment-file: environment.yml
          activate-environment: qe-lectures
      - name: Build PDF
        shell: bash -l {0}
        run: |
          ls /tmp/texlive/bin/x86_64-linux/
          make pdf
      - uses: actions/upload-artifact@v2
        with:
          name: pdf
          path: _build/jupyterpdf/texbook/quantitative_economics_with_python.pdf